<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kalgdial" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="connect_action" />
	<Action name="disconnect_action" />
	<Separator/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
  <Action name="viewlog_action" />
  <Separator/>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar">
  <Action name="file_quit"/>
  <Action name="connect_action"/>
  <Action name="disconnect_action"/>
  <Action name="viewlog_action" />
</ToolBar>

</kpartgui>
